				<div id="header-top">
					<!--头部-->
					<ul>
						<li><a href="/index.html">首页</a></li>
						<li><a href="#">华为官网</a></li>
						<li><a href="#">荣耀官网</a></li>
						<li><a href="#">花粉俱乐部</a></li>
						<li><a href="#">帮助中心</a></li>
						<li><a href="#">V码(优购码)</a></li>
						<li><a href="#">企业购</a></li>
						<li><a href="#">Select Region</a></li>
						<li><a href="#">下载APP</a></li>
						<li><a href="#">更多精彩  </a></li>
					</ul>
					<ul>
						<li id="zxc3"><a href="javascript:;" id="zxc">请登录</a><a href="/html/register.html">注册</a></li>
						<li id="zxc2">欢迎您<a href="javascript:;" id="zxc1">aaaaaa</a><a href="javascript:;" id="out">退出</a></li>
						<li><a href="#">我的订单</a></li>
						<li><a href="/html/shopcar.html">购物车</a></li>
					</ul>
				</div>
				<div id="header-bottom">
					<div id="logo">
						<a href="#"><img src="/images/logo/logo.png"/></a>
						<a href="#"><img src="/images/logo/logo2.png"/></a>
					</div>
					<ul id="ul-classify">
						<li class="li-classify"><a href="#">手机</a></li>
						<li><a href="#">笔记本电脑</a></li>
						<li><a href="#">平板&穿戴</a></li>
						<li><a href="#">智能家居</a></li>
						<li><a href="#">配件</a></li>
						<li><a href="#">荣耀专区</a></li>
						<!--下拉框--->
						<div id="classify">
							<div class="classify-center">
								<ol class="ol-classify-center">
									<li class="li-classify-center"><a href="/html/classify.html">全部手机</a></li>
									<li class="li-classify-center"><a href="#">HUAWEI MATE系列</a></li>
									<li class="li-classify-center"><a href="#">HUAWEI P系列</a></li>
									<li class="li-classify-center"><a href="#">HUAWEI nova系列</a></li>
									<li class="li-classify-center"><a href="#">HUAWEI 麦芒系列</a></li>
								</ol>
								<!--导航下拉框-->
								<div class= "brand-classify-center">
									<div class="phone">
										<a href="/html/detailsxq.html?id=1"><img src="/images/brand/1.png"></a>
									</div>
									<b>华为Mate20 pro</b><br>
									<span>￥5399</span>
								</div>
								<div class= "brand-classify-center">
									<div class="phone">
										<a href="/html/detailsxq.html?id=2"><img src="/images/brand/2.jpg"></a>
									</div>
									<b>华为p20</b><br>
									<span>￥3388</span>
								</div>
								<div class= "brand-classify-center">
									<div class="phone">
										<a href="/html/detailsxq.html?id=1"><img src="/images/brand/1.png"></a>
									</div>
									<b>华为Mate20 pro</b><br>
									<span>￥5399</span>
								</div>
								<div class= "brand-classify-center">
									<div class="phone">
										<a href="/html/detailsxq.html?id=2"><img src="/images/brand/2.jpg"></a>
									</div>
									<b>华为p20</b><br>
									<span>￥3388</span>
								</div>
							</div>
							
						</div>
					</ul>
					
					
					<div id="search">
						<input type="text" name="搜索" value="" />
						<button></button>
					</div>
				</div>
				
				
				
				