<h4><span id="off">×<span></h4>
<div class="login-p">
	<p id="login-input">账号登录</p>
	<p id="login-scan">扫码登录</p>	
</div>
	<form id="form">
		<input type="text" id="username" placeholder="手机号/邮件地址"><br>
		<input type="password" id="password" placeholder="密码">
		<a href="#">短信验证码登录</a>
		<button id="btt">登录</button>
		<input type="checkbox" name="" id="remember" value="" /><span>记住华为账号</span>
	</form>
<div class="login-min">
	<a href="#">注册账号</a>
	<a href="#">忘记密码?</a>
</div>
<div class="login-bottom">
	<b>其他方式登录</b>
	<ul class="login-way">
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
	</ul>
					
	<strong>继续访问即代表您已同意华为商城<a href="#">服务协议</a>和<a href="#">华为隐私政策</a></strong>
</div>
